.gifItemContainer {
  .gifItem {
  	margin-bottom: 2px;
  	vertical-align: top;
  	width: 225px;
  }

  &:focus > .gifItem {
    outline: 2px solid var(--blue);
  }

  @media (max-width: 768px) {
    .gifItem {
      width: 150px;
    }
  }

  @media (max-width: 480px) {
    .gifItem {
      width: 100px;
    }
  }
}
