<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/images/favicon.ico" />

		<link rel="stylesheet" href="https://afeld.github.io/emoji-css/emoji.css" />
		<link rel="stylesheet" href="/css/normalize.css"/>
		<link rel="stylesheet" href="/css/style.css" />

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Page Not Found</title>
	</head>
	<body id="body-404">
		<header><a href="/"><h1>Oops! Page Not Found</h1></a></header>
		<section>
			<p>
				<a href="/">
					<button>Go Home <i class="em em-mage"></i></button>
				</a>
			</p>
		</section>
  		<section>
  			<a href="/"><img id="gif-404" src="https://media.giphy.com/media/xT0xeQ0WxojuK5ixPy/giphy.gif" /></a>
  		</section>
  		<section>
			<p>
				<a href="/">
					<button>Go Home <i class="em em-mage"></i></button>
				</a>
			</p>
		</section>
	</body>
</html>