<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/normalize.css"/>
		<link rel="stylesheet" href="/css/style.css" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Page Not Found</title>
	</head>
	<body>
		<div id="main-content">
			<a href="/"><h1>404: Page Not Found</h1></a>
	  	<a href="/"><img id="gif-404" src="https://media.giphy.com/media/xT0xeQ0WxojuK5ixPy/giphy.gif" /></a>
	  </div>
	</body>
</html>