<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/normalize.css"/>
		<link rel="stylesheet" href="/css/style.css" />
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" src="/js/scripts.js"></script>
		<title>More GIFs</title>
	</head>
	<body>
		<div id="main-content">
			<a href="/">
				<h2>More GIFs: Expand your GIF journey</h2>
			</a>

			<input id="search-input" type="text" placeholder="Enter GIF Keyword" />
			<input id="search-button" type="button" value="GO" />

			<hr />

			<% if (synonyms) { %>
				<% include ./search %>
			<% }; %>

			<% gifs.forEach(function (gif) { %>
				<a href="<%= gif.url %>" target="_blank">
					<img alt="<%= gif.title %>" class="gif-results" src="<%= gif.image %>" />
				</a>
			<% }); %>

		</div>
	</body>
</html>
