<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/images/favicon.ico">

		<link rel="stylesheet" href="https://afeld.github.io/emoji-css/emoji.css">
		<link rel="stylesheet" href="/css/normalize.css"/>
		<link rel="stylesheet" href="/css/style.css" />

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script type="text/javascript" src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
		<script type="text/javascript" src="/js/scripts.js"></script>

		<title>More GIFs</title>
	</head>

	<body>
		<header>
			<a href="/">
				<h1>
					<i class="em em-mostly_sunny"></i> 
					<span> MORE GIFs</span>
				</h1>
				<h4><em>Expand Your GIF Journey</em></h4>
			</a>
		</header>
			
		<section id="search-input-container">
			<span>STEP 1: <i class="em em-point_right"></i>&nbsp; </span>
			<input id="search-input" type="text" placeholder=" Enter GIF Keyword" />
			<button id="search-button" value="Go">
				<span>GO<i class="em em-mag_right"></i></span>
			</button>
		</section>

		<% if (synonyms) { %>
			<% include ./search %>
		<% }; %>

		<section>
			<% include ./gifs %>

			<button id="get-button">
				<span>MORE</span>
				<i class="em em-mag_right"></i>
			</button>
		</section>

		<footer>
			<p><a href="http://www.marcopvazquez.com/" target="_blank">This website was created by Marco Pretell-Vázquez</a></p>

			<a href="https://giphy.com/" target="_blank">
				<img alt="Powered By Giphy" src="/images/PoweredBy_200px-Black_HorizLogo.png" id="giphy-logo-badge" />
			</a>
		</footer>
	</body>
</html>
