<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script type="text/javascript" src="/js/scripts.js"></script>
		<link rel="stylesheet" href="/css/normalize.css"/>
		<link rel="stylesheet" href="/css/style.css" />
		<title>More GIFs</title>
	</head>
	<body>
		<div id="main-content">
			<a href="/">
				<h1>More GIFs</h1>
			</a>
			<h3>Expand your GIF journey</h3>

			<input id="search-input" type="text" placeholder="Enter GIF Keyword" />
			<input id="search-button" type="button" value="GO" />

			<hr />

			<% if (synonyms) { %>
				<% include ./search %>
			<% }; %>

			<% gifUrls.forEach(function (url) { %>
				<img class="gif-results" src="<%= url %>" />
			<% }); %>

			<button>MORE</button>
		</div>
	</body>
</html>
