<html>
	<head>
		<title>More GIFs</title>
	</head>
	<body>
		<a href="/"><h2>More GIFs</h2></a>
		<h3>Expand your GIF journey</h3>

		<input id="search-input" type="text" placeholder="Enter Keywords" />
		<input id="search-button" type="button" value="Search" />

		<hr />

		<% gifUrls.forEach(function (url) { %>
			<img height="150px" width="24%" src="<%= url %>" />
		<% }); %>

		<script type="text/javascript" src="/js/scripts.js"></script>
	</body>
</html>