<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/images/favicon.ico">

		<link rel="stylesheet" href="https://afeld.github.io/emoji-css/emoji.css">
		<link rel="stylesheet" href="/css/normalize.css"/>
		<link rel="stylesheet" href="/css/style.css" />

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script type="text/javascript" src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
		<script type="text/javascript" src="/js/scripts.js"></script>

		<title>More GIFs</title>
	</head>

	<body>
		<header>
			<a href="/">
				<h2>
					<i class="em em-mostly_sunny"></i> 
					<span> MORE GIFs: <em>Expand Your GIF Journey</em></span>
				</h2>
			</a>
		</header>
			
		<div id="search-input-container">
			<span>STEP 1: <i class="em em-point_right"></i>&nbsp; </span>
			<input id="search-input" type="text" placeholder=" Enter GIF Keyword" />
			<button id="search-button" value="Go">
				<span>GO<i class="em em-mag_right"></i></span>
			</button>
		</div>

		<% if (synonyms) { %>
			<% include ./search %>
		<% }; %>

		<div class="grid">
			<% gifs.forEach(function (gif) { %>
				<a href="<%= gif.url %>" target="_blank">
					<img alt="<%= gif.title %>" class="grid-item" src="<%= gif.image  %>" />
				</a>
			<% }); %>
		</div>

		<footer>
			<p>This website was created by <a href="http://www.marcopvazquez.com/">Marco Pretell-Vázquez</a></p>
			<a href="https://giphy.com/" target="_blank">
				<img alt="Powered By Giphy" src="/images/PoweredBy_200px-Black_HorizLogo.png" id="giphy-logo-badge" />
			</a>

		</footer>
	</body>
</html>
