<div id="search-history"></div>

<hr />

<div id="search-synonyms">
	<% synonyms.forEach(function(synonym) { %>
		<% if (synonym) { %>
				<a class="search-tag" href="/search/<%= synonym.replace(/ /g, '+') %>"><%= synonym %></a>
		<% }; %>
	<% }); %>
</div>

<hr />
