<% if (history.length) { %>
	<% history.forEach(function(searchItem) { %>
		<a href="/search/<%= searchItem.replace(/ /g, '+') %>"><%= searchItem %></a>
	<% }); %>
<% }; %>

<hr />

<% synonyms.forEach(function(synonym) { %>
	<% if (synonym) { %>
		<a href="/search/<%= synonym.replace(/ /g, '+') %>"><%= synonym %></a>
	<% }; %>
<% }); %>

<hr />
