<div id="search-keywords">
	<% if (synonyms.length) { %>
	<div id="related-terms">
		<p>Try Related Search Terms</p>
		<div id="search-synonyms">
			<% synonyms.forEach(function(synonym) { %>
				<% if (synonym) { %>
					<a class="search-tag" href="/search/<%= synonym.replace(/ /g, '+') %>">
						<button><%= synonym %></button>
					</a>
				<% }; %>
			<% }); %>
		</div>

		<hr />
	</div>
	<% }; %>

	<div id="search-history">
		<p>View Search History</p>
		<div id="search-history-container"></div>

		<hr />
	</div>
</div>
