<div id="search-history"></div>

<hr />

<% synonyms.forEach(function(synonym) { %>
	<% if (synonym) { %>
		<a href="/search/<%= synonym.replace(/ /g, '+') %>"><%= synonym %></a>
	<% }; %>
<% }); %>

<hr />
