<div id="search-keywords">
	<% if (synonyms.length) { %>
		<p>Try Related Search Terms</p>
		<div id="search-synonyms">
			<% synonyms.forEach(function(synonym) { %>
				<% if (synonym) { %>
					<a class="search-tag" href="/search/<%= synonym.replace(/ /g, '+') %>">
						<button><%= synonym %></button>
					</a>
				<% }; %>
			<% }); %>
		</div>

		<hr />
	<% }; %>

	<p>View Search History</p>
	<div id="search-history"></div>

	<hr />
</div>
