<section id="search-keywords">
	<% if (synonyms.length) { %>
	<div id="related-terms">
		<p>STEP 2: <i class="em em-point_down"></i>&nbsp; Explore Related Search Terms</p>
		<div id="search-synonyms">
			<% synonyms.forEach(function(synonym) { %>
				<% if (synonym) { %>
					<a class="search-tag" href="/search/<%= synonym.replace(/ /g, '+') %>">
						<button><i class="em em-link"></i> <%= synonym %></button>
					</a>
				<% }; %>
			<% }); %>
		</div>
	</div>
	<% }; %>

	<div id="search-history">
		<p><i class="em em-clipboard"></i> Search History</p>
		<div id="search-history-container"></div>
	</div>
</section>
