a {
	color: #FFFFFF;
	text-decoration: none;
}

body {
	background: #8B3DB8;
	color: #FFFFFF;
	text-align: center;
	font-family: sans-serif;
}

button {
    cursor: pointer;
    color: rgb(96,96,96);
    padding: 3px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 0;
    border-radius: 5px;
    background: rgb(232,232,232);
    background: -moz-linear-gradient(0deg, rgb(200,200,200) 30%, rgb(232,232,232) 70%);
    background: -webkit-linear-gradient(0deg, rgb(200,200,200) 30%, rgb(232,232,232) 70%);
    background: -o-linear-gradient(0deg, rgb(200,200,200) 30%, rgb(232,232,232) 70%);
    background: -ms-linear-gradient(0deg, rgb(200,200,200) 30%, rgb(232,232,232) 70%);
    background: linear-gradient(0deg, rgb(200,200,200) 30%, rgb(232,232,232) 70%);
    -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
}

footer {
    box-shadow: 0px -5px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0px -5px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -5px 5px 0px rgba(50, 50, 50, 0.75);
    margin-top: 1rem;
    padding: .5rem;
}

header {
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    margin-bottom: 1rem;
    padding: 1rem;
}

header, footer {
    background-color: rgba(0, 0, 0, .2);
}

h2 {
	margin: 0;
}

.em {
	height: 1.2rem;
    width: 1.2rem;
}

.grid {
 	margin: 10px auto;
}

.grid-item {
	margin-bottom: 2px;
	vertical-align: top;
	width: 250px;
}

.search-tag > button {
	margin-bottom: 5px;
}

#gif-404 {
	height: 100%;
	width: 100%;
}

#search-input-container {
	margin: 2rem 0;
}
