@import url('https://fonts.googleapis.com/css?family=Play');

a {
	color: #FFFFFF;
	text-decoration: none;
}

body {
	background: rgb(139, 61, 184);
    background: -moz-linear-gradient(330deg, rgb(139, 61, 184) 30%, rgb(90, 140, 250) 70%);
    background: -webkit-linear-gradient(330deg, rgb(139, 61, 184) 30%, rgb(90, 140, 250) 70%);
    background: -o-linear-gradient(330deg, rgb(139, 61, 184) 30%, rgb(90, 140, 250) 70%);
    background: -ms-linear-gradient(330deg, rgb(139, 61, 184) 30%, rgb(90, 140, 250) 70%);
    background: linear-gradient(120deg, rgb(139, 61, 184) 30%, rgb(90, 140, 250) 70%);
	color: #FFFFFF;
    font-family: 'Play', sans-serif;
    text-align: center;
}

button {
    border: 0;
    color: rgb(96,96,96);
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: rgb(232,232,232);
    background: -moz-linear-gradient(0deg, rgb(200,200,200) 30%, rgb(232,232,232) 70%);
    background: -webkit-linear-gradient(0deg, rgb(200,200,200) 30%, rgb(232,232,232) 70%);
    background: -o-linear-gradient(0deg, rgb(200,200,200) 30%, rgb(232,232,232) 70%);
    background: -ms-linear-gradient(0deg, rgb(200,200,200) 30%, rgb(232,232,232) 70%);
    background: linear-gradient(0deg, rgb(200,200,200) 30%, rgb(232,232,232) 70%);
    -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
    font-family: 'Play', sans-serif;
    padding: 5px 10px 4px 10px;
}

footer {
    -webkit-box-shadow: 0px -5px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -5px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -5px 5px 0px rgba(50, 50, 50, 0.75);
}

header {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

header, footer {
    background-color: rgba(0, 0, 0, .2);
    padding: .3rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
}

h1, h4 {
	margin: 0;
}

.em {
	height: 1.2rem;
    margin-top: -3px;
    width: 1.2rem;
}

.grid {
 	margin: 10px auto;
}

.grid-item {
	margin-bottom: 2px;
	vertical-align: top;
	width: 225px;
}

.search-tag {
	margin-bottom: 4px;
}

.tag-container {
    background: rgba(250, 250, 250, .2);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    margin: 1rem;
    max-height: 20rem;
    overflow: scroll;
    padding: .5rem;
}

#body-404 {
    background: rgb(139, 61, 184);
    background: -moz-linear-gradient(0deg, rgb(139, 61, 184) 30%, rgb(90, 140, 250) 70%);
    background: -webkit-linear-gradient(0deg, rgb(139, 61, 184) 30%, rgb(90, 140, 250) 70%);
    background: -o-linear-gradient(0deg, rgb(139, 61, 184) 30%, rgb(90, 140, 250) 70%);
    background: -ms-linear-gradient(0deg, rgb(139, 61, 184) 30%, rgb(90, 140, 250) 70%);
    background: linear-gradient(90deg, rgb(139, 61, 184) 30%, rgb(90, 140, 250) 70%);
}

#load-more-button {
    margin: 2rem 0;
}

#gif-404 {
	width: 90%;
}

#search-input {
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
    font-family: 'Play', sans-serif;
    padding: 5px 3px 4px 3px;
}

#search-input-container {
    font-weight: bold;
    margin: 2rem 0;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
}

#search-keywords-container {
    font-weight: bold;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
}

@media (max-width: 768px) {
    .grid-item {
        width: 150px;
    }

    .home-button {
        margin: 3rem;
    }
}

@media (max-width: 480px) {
    .grid-item {
        width: 100px;
    }

    .home-button {
        margin: 4.5rem;
    }
}
