a {
	color: #FFFFFF;
	text-decoration: none;
}

body {
	background: #8B3DB8;
	color: #FFFFFF;
	text-align: center;
	font-family: sans-serif;
}

button {
	cursor: pointer;
}

#main-content {
	margin: 0 10px;
}

.gif-results {
	height: 200px;
	width: 24%;
}

@media (max-width: 992px) {
	.gif-results {
		height: 250px;
		width: 49%;
	}
}

@media (max-width: 768px) {
	.gif-results {
		height: 150px;
		width: 100%;
	}
}
