a {
	color: #FFFFFF;
	text-decoration: none;
}

body {
	background: #8B3DB8;
	color: #FFFFFF;
	text-align: center;
	font-family: sans-serif;
}

button {
	cursor: pointer;
}

#main-content {
	margin: 0 10px;
}

#gif-404 {
	width: 100%;
	height: 100%;
}

.grid {
 	margin: 10px auto;
}

.grid-item {
	margin-bottom: 2px;
	width: 250px;
}
