@import url('https://fonts.googleapis.com/css?family=Play:400,700');

:root {
	--black: rgb(0, 0, 0);
	--blue: rgb(90, 140, 250);
	--violet: rgb(139, 61, 184);
	--white: rgb(255,255,255);

	--light-gray: rgb(232,232,232);
	--medium-gray: rgb(200,200,200);
	--dark-gray: rgb(96,96,96);

	--transparent-gray: rgba(50, 50, 50, 0.75);
	--transparent-gray-light: rgba(0, 0, 0, .2);
	--transparent-white: rgba(250, 250, 250, .2);

	--font-family: 'Play', sans-serif;

	--footer-box-shadow: 0px -3px 5px 0px var(--transparent-gray);
	--header-box-shadow: 0px 3px 5px 0px var(--transparent-gray);
	--search-box-shadow: 0px 2px 1px var(--transparent-gray);
	--tag-box-shadow: inset 0px 0px 5px 0px var(--transparent-gray);

	--search-border-radius: 5px;
	--tag-border-radius: 10px;

	--text-shadow: 0px 1px 2px var(--black);

	background: var(--blue);
		background: -webkit-linear-gradient(330deg, var(--violet) 30%, var(--blue) 70%);
		background: linear-gradient(120deg, var(--violet) 30%, var(--blue) 70%);
	color: var(--white);
	font-family: var(--font-family);
	text-align: center;
}

.em {
	height: 1.2rem;
  margin-top: -2px;
  width: 1.2rem;
}
