.headerContainer {
  background-color: var(--transparent-gray-light);
  box-shadow: var(--header-box-shadow);
  padding: .3rem;
  text-shadow: var(--text-shadow);

  .headerH1 {
  	font-weight: 400;
    margin: 0;
  }

  .headerH4 {
    font-style: italic;
    letter-spacing: 2px;
    margin: 0;
  }

  .headerLink {
    color: var(--white);
  	text-decoration: none;
  }

  .headerIcon {
    height: 1.5rem;
    margin-top: -7px;
    width: 1.5rem;
  }
}
