.headerContainer {
  background-color: var(--transparent-gray-light);
  -webkit-box-shadow: var(--header-box-shadow);
	  box-shadow: var(--header-box-shadow);
  padding: .3rem;
  text-shadow: var(--text-shadow);
}
