.SearchTagListContainer {
  background: var(--transparent-white);
  border-radius: var(--tag-border-radius);
  box-shadow: var(--tag-box-shadow);
  margin: 1rem 2rem;
  max-height: 20rem;
  overflow: scroll;
  padding: .5rem;

  .searchTag {
    margin: 2px;
  }
}
