.footerContainer {
  background-color: var(--transparent-gray-light);
  box-shadow: var(--footer-box-shadow);
  padding: .3rem 0;
  text-shadow: var(--text-shadow);

  .footerText {
    margin: 0;
    padding-bottom: .3rem;

    .footerTextLink {
      color: var(--white);
    	text-decoration: none;
    }
  }

  .footerTextBreak {
    display: none;
  }

  @media (max-width: 480px) {
    .footerTextBreak {
      display: inline-block;
    }
  }
}
